{% extends "layout.html" %}

{% block content %}

<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Date Planted</th>
        <th scope="col">Days to Maturity</th>
        <th scope="col">Status</th>
        <th scope="col">Date of Harvest</th>
      </tr>
    </thead>
    <tbody>
      {% for crop in gh.crops %}
      <tr>
        <td>{{ crop.id }}</td>
        <td>{{ crop.crop }}</td>
        <td>{{ crop.planted_on }}</td>
        <td>{{ crop.days_to_maturity }}</td>
        <td>{{ crop.health_status }}</td>
        <td>{{ crop.harvest_forecast }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% endblock %}