{% extends "layout.html" %}

{% block content %}
  <div class="row">

    <div class="col">

      <div class="card" style="width: 100%;">
        <img src="{{ url_for('static', filename= 'onion.png') }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h2 class="card-title">{{ gh.crops[3].crop }}</h2>
          <a href="/Onion" class="btn btn-primary">More info</a>
        </div>
      </div>

    </div>

    <div class="col">

      <div class="card" style="width: 100%;">
        <img src="{{ url_for('static', filename= 'tomato.jpg') }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h2 class="card-title">{{ gh.crops[1].crop }}</h2>
          <a href="/Tomato" class="btn btn-primary">More info</a>
        </div>
      </div>

    </div>

    <div class="col">

      <div class="card" style="width: 100%;">
        <img src="{{ url_for('static', filename= 'potato.jpg') }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h2 class="card-title">{{ gh.crops[2].crop }}</h2>
          <a href="/Potato" class="btn btn-primary">More info</a>
        </div>
      </div>

    </div>

    <div class="col">

      <div class="card" style="width: 100%;">
        <img src="{{ url_for('static', filename= 'lettuce.jpg') }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h2 class="card-title">{{ gh.crops[0].crop }}</h2>
          <a href="/Lettuce" class="btn btn-primary">More info</a>
        </div>
      </div>

    </div>

  </div>



</div>


</body>
</html>

{% endblock %}